<nav class="navbar">
  <div class="nav-left">
    <a href="/" class="nav-link">Home</a>
  </div>

  <div class="nav-right">
    <div class="dropdown">
      <button class="dropbtn">Categories</button>
      <div class="dropdown-content">
        <a href="/category/1">Honey</a>
        <a href="/category/2">Olive Oil</a>
        <a href="/category/3">Tea</a>
        <a href="/category/4">Coffee</a>
        <a href="/category/5">Jams</a>
        <a href="/category/6">Massage Oil</a>
        <a href="/category/7">Soap</a>
      </div>
    </div>
  </div>
</nav>
